body {
  position: relative;
  color: white;
  height: 100vh;
  overflow-y: hidden;
}
html,
body,
div,
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
ol,
table,
td,
tr,
th,
form {
  padding: 0;
  margin: 0;
}
ul,
li,
ol {
  list-style: none;
}
#root {
  height: 100%;
}

#root > * {
  height: 100%;
}
.ant-layout-header {
  padding: 0 !important;
}

.ant-menu-item {
  margin-top: 0 !important;
  color: rgba(255,255,255,0.65);
  font-weight: 400;
}

.ant-menu-item-selected {
  background: #232349 !important;
}
.ant-menu-dark.ant-menu-dark:not(.ant-menu-horizontal) .ant-menu-item-selected{
  background-color: #232349 !important;
}

.ant-menu-dark .ant-menu-item-selected .ant-menu-item-icon + span, .ant-menu-dark .ant-menu-item-selected .anticon + span{
  color: #5970DD !important;
}

.ant-menu-dark .ant-menu-inline.ant-menu-sub {
  background: #191C35 !important;
}
.ant-menu-dark .ant-menu-item-selected .ant-menu-item-icon, .ant-menu-dark .ant-menu-item-selected .anticon{
  color: #5970DD !important;
}

@layer base {
  .layout-header-title{
    opacity: 0.95;
    font-family: MicrosoftYaHei-Bold;
    font-size: 32px;
    color: #DCDCDC;
    letter-spacing: 3px;
    line-height: 32px;
    text-shadow: 0 2px 4px rgba(13,15,26,0.45);
    font-weight: 700;
  }
  .layout-sider{
    background: #191C35 !important;
    height: 100%;
    border-right: 0;
  }
}